@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

body {
	font-size: 100%;
	font-weight: 400;
	line-height: 1.6875;
}

@media only screen and (max-width: 400px) {
	body { font-size: 80%;}
}

article {
	padding-top: 1.5em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 6em;
	font-weight: 500;
	color: #101020;
}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2.6em;
	font-weight: 500;
	padding-bottom: 1em;
}

h4 {
	color: #101020;
	font-size: 1.25em;
}

.morning {
	background: rgba(248,126,35,1);
	background: -moz-linear-gradient(top, rgba(248,126,35,1) 0%, rgba(252,252,66,1) 100%);
	background: -webkit-linear-gradient(top, rgba(248,126,35,1) 0%, rgba(252,252,66,1) 100%);
	background: -o-linear-gradient(top, rgba(248,126,35,1) 0%, rgba(252,252,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,126,35,1) 0%, rgba(252,252,66,1) 100%);
	background: linear-gradient(to bottom, rgba(248,126,35,1) 0%,  rgba(252,252,66,1) 100%);
}

.day {
	background: rgba(1,105,144,1);
	background: -moz-linear-gradient(top, rgba(1,105,144,1) 0%, rgba(135,199,223,1) 100%);
	background: -webkit-linear-gradient(top, rgba(1,105,144,1) 0%, rgba(135,199,223,1) 100%);
	background: -o-linear-gradient(top, rgba(1,105,144,1) 0%, rgba(135,199,223,1) 100%);
	background: -ms-linear-gradient(top, rgba(1,105,144,1) 0%, rgba(135,199,223,1) 100%);
	background: linear-gradient(to bottom, rgba(1,105,144,1) 0%, rgba(135,199,223,1) 100%);
}

.evening {
	background: rgba(84,15,96,1);
	background: -moz-linear-gradient(top, rgba(84,15,96,1) 0%, rgba(220,47,141,1) 100%);
	background: -webkit-linear-gradient(top, rgba(84,15,96,1) 0%, rgba(220,47,141,1) 100%);
	background: -o-linear-gradient(top, rgba(84,15,96,1) 0%, rgba(220,47,141,1) 100%);
	background: -ms-linear-gradient(top, rgba(84,15,96,1) 0%, rgba(220,47,141,1) 100%);
	background: linear-gradient(to bottom, rgba(84,15,96,1) 0%, rgba(220,47,141,1) 100%);
}

.night {
	
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #101020;
}

.nav-item  {
	float: left;
}

.nav-item a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em 1em;
	font-size: 1.3em;
	font-weight: 300;
}

.nav-item a:hover {
	text-decoration: underline;
}

#header {
	position: relative;
	height: 35em;
}

#header .skyline {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#about {
	background-color: #101020;
	color: #E4F7FD;
}

#about .bio {
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 2em;
}

#projects {
	background-color: #d3ecff;
	padding-bottom: 2em;
}

#projects .project-list {	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
	padding: 0 1.5em;
}

#projects .project-item {
	text-align: center;
	padding: 1em;
	margin: 0 1em 1.5em 1em;
	max-width: 325px;
	min-width: 275px;
	width: 33.3%
}

#projects .thumbnail {
	position: relative;
	background: tomato;
	padding-bottom: 0.5em;
	height: 12em;
}

#projects .thumbnail img {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 104%;
}

#projects .thumbnail .project-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
}

#projects .thumbnail .project-content p {
	padding: 25px;
}

#projects .thumbnail:hover > .project-content {
	display: block;
	background: rgba(0,0,0,0.75);
	color: white;
	opacity: 1;
}

footer {
	background: #252525;
	color: #E4F7FD;
	text-align: center;
	padding: 1.5em 1.5em;
}
